@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .more-info {
    @apply flex justify-center items-center bg-blue-300 absolute rounded-2xl h-4 w-24 left-5 top-0 text-xs
  }

  .btn {
    @apply rounded-md py-2 px-3 uppercase text-xs font-bold cursor-pointer shadow-md
  }
  .show-page {
    @apply h-screen flex justify-center items-center
  }
  .hide-page {
    @apply h-screen hidden
  }
  .flex-r-c {
    @apply flex justify-center items-center
  }
  .flex-c-c {
    @apply flex flex-col justify-center items-center
  }
  .form-input {
    @apply border-2 border-gray-400 rounded-md text-sm w-2/3
  }
}

.strikethrough {
  color: red;
  transform: scale(1.08);
  /* font-style: italic; */
}

